.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #808081a6;
}
.modal-content {
  width: 100%;
  height: 100%;
}
